:host {
	main {
        @apply mt-10 justify-between;

		a {	
			@apply absolute right-5 -bottom-5 z-10 p-6 bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md border border-transparent text-center;
			@apply py-3 text-gray-50 text-lg;
		}

		a:hover {
		  @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
		  @apply text-gray-700 border;
		}

		.county__names {
            @apply relative flex items-start justify-center h-20 px-0 py-8 ;

			h1 {
                @apply text-indigo-500 font-semibold text-6xl capitalize sm:text-4xl z-10;
			}

			h2 {
                @apply absolute font-bold top-0 text-9xl text-blue-300 z-0 sm:top-9 sm:text-7xl;
			}

			h1,
			h2 {
				-webkit-animation-fill-mode: none !important;
				animation-fill-mode: none !important;
			}
		}

		.country__seasons {

            @apply relative;
            
			&__image {
                @apply absolute top-[-90px] sm:top-[-80px] left-8 sm:left-0 max-w-[130px] sm:max-w-[100px] z-10;
				-webkit-animation-fill-mode: none !important;
				animation-fill-mode: none !important;
			}

			&__statistics, &__teams {
                @apply justify-between bg-white min-h-[44vh] sm:min-h-[57vh] mt-3 px-28 sm:px-4 sm:pt-12 py-8 rounded-l-3xl;  
				h3 {
					span {
						@apply text-3xl font-bold text-cyan-900
					}
                    @apply mb-2 font-medium text-xl text-cyan-600;
				}

				label {
					@apply block mb-2 mt-2 text-sm font-medium text-gray-900;
					select {
						@apply mt-4 mb-8 bg-gray-50 sm:max-w-full max-w-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
					}
				}

				ol {
					@apply block mt-5 space-y-5;
					text-align: -webkit-center;
					li {
                        @apply justify-start items-center max-w-sm cursor-pointer flex px-2 py-2 text-center rounded-full bg-slate-200 hover:bg-blue-500 hover:text-white text-lg;
						img {
							@apply max-h-10 px-6;
						}
					}
				}
			}
		}
    }
}