<app-header></app-header>

<main>
    <h2>Lista de Jogadores</h2>
    <ul *ngFor="let player of squad$ | async" class="max-w-md divide-y divide-gray-20">
        <li class="pb-3 sm:pb-4">
            <div class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                    <img class="w-8 h-8 rounded-full" [src]="player.photo" alt="Neil image">
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                        {{player.name}} | {{player.age}}
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                        {{player.position}} | {{player.number}}
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                    $320
                </div>
            </div>
        </li>
    </ul>

</main>

<!-- 
id: number;
name: string;
age: number;
number: number | null;
position: Position;
photo: string; -->